/* Mobile-first styles */

.menu-container {
    padding: 0 16px;

    background-color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.menu-title {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
    padding: 0px;
}

.menu-title h1 {
    font-size: 20px;
    color: #d32f2f;
    margin-bottom: 0px;
}

.menu-title p {
    font-size: 14px;
    color: #666;
}

.menu-items {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.menu-item {
    background-color: #f9f9f9;
    width: fit-content;
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
}


/* Tablet and up */
@media (min-width: 768px) {
    .menu-items {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
    }

    .menu-item {
        width: 48%;
    }
}

/* Desktop and up */
@media (min-width: 1024px) {
    .menu-container {
        padding: 40px 80px;
    }

    .menu-title h1 {
        font-size: 28px;
    }

    .menu-title p {
        font-size: 16px;
    }

    .menu-item {
        width: 30%;
    }

    .menu-item-content h3 {
        font-size: 18px;
    }

    .menu-item-content p {
        font-size: 14px;
    }

    .menu-item-price p {
        font-size: 16px;
    }
}