.category-container {
    font-family: sans-serif;
    color: #333;
    padding: 20px;
    text-align: center;
}

.category-title h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.category-title p {
    font-size: 1.2em;
    color: #666;
    margin-bottom: 30px;
}

.category-items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.category-item {
    width: 250px;
    margin: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
}

.category-image {
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.category-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s ease;
}

.category-image img:hover {
    transform: scale(1.2);
}

.category-icon {
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: white;
    margin: -25px 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.category-item button {
    bottom: 0px;
    width: 100%;
    padding: 10px 20px;
    border-style: none;
    font-size: 14px;

    text-transform: uppercase;
    color: #1d1d1d;
    text-align: center;
    line-height: 1;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.category-item button:hover {
    color: white;
    background: #c8a96a;
}

.category-icon img {
    width: 40px;
    height: 40px;
}

.category-item h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
    margin-top: 45px;
}

.category-item p {
    padding: 0 20px 5px;
    line-height: 1.6;
    color: #666;
}

/* Responsive design (điều chỉnh khi cần thiết) */
@media (max-width: 768px) {
    .category-item {
        width: 90%;
    }
}